 .rectangle {
  background: red;
  width: 50%;
  height: 50vh;
  margin: auto;
  align-items: center;
  margin-top: -60px;
}
.rectangle-green {
  background: green;
  width: 50%;
  height: 50vh;
  margin: auto;
  align-items: center;
  margin-top: -60px;
}

/*

.rectangle {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -250px;
} */

.hello {
  font-size: 40px;
}